<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /digital-library-api/
    
    # Redirect ke public folder
    RewriteCond %{REQUEST_URI} !^/digital-library-api/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>